.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f9f9f9;
}

footer {
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

