.combobox {
    position: relative;
    display: inline-block;
}

.combobox-input {
    position: relative;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.combobox-input input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
}

.arrow {
    width: 0;
    height: 0;
    border-style: solid;
    margin-right: 5px;
}

.arrow.down {
    border-width: 5px 5px 0 5px;
    border-color: #555 transparent transparent transparent;
}

.arrow.up {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #555 transparent;
}

.combobox-options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
}

.combobox-options li {
    padding: 5px;
    cursor: pointer;
    width: 250px;
}

.combobox-options li:hover {
    background-color: #f0f0f0;
}
