/* Header.css */
.header-container {
    display: flex;
    justify-content: space-between; /* Place items at both ends of the container */
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px;
}

.header-text {
    font-weight: bold;
    font-size: 20px;
}

.header-line {
    flex-grow: 1;
    border-top: 2px solid black;
    margin-left: 10px; /* Add margin to the left of the line */
}
