# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/package.json
/client/node_modules
/client/.idea
/server/.idea
/server/apice_sistema/node_modules
/.pnp
.pnp.js

#security (for me)
/server/apice_sistema/sequelize.js
/server/apice_sistema/src/config
/server/apice_sistema/.env

# testing
/coverage

# production
/build

# misc
/client/README.md
/client/package-lock.json
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
