.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-right: 10px;
}

.login-label {
    font-size: 1.5em;
}

form {
    text-align: center;
}
